.home-container {
  width: 75%;
  
}
.top-container {
  width: 100%;
  position: relative;
  text-align: center;
  
}

.bottom-container {
  width: 100%;
}

.button {
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-family: Saira;



}  
.btn-1 {
    background-color: rgb(86, 152, 250);

}

.btn-2{
  background-color: rgb(155, 155, 155);
}

.row {
  height: 2000px;

}

.column {
  margin: 0 auto;
  width: 40%;
  column-count: 1;
  display: flex;
  justify-items: center;
  align-items: center;
}