.about-top-container {
  width: 75%;
  text-align: center;
  margin: 0 auto;
}

.freelance-info {
  width: 75%;
  margin: 0 auto;
}

.about-button {
  width: 15%;
  height: 12.5%;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  font-family: Saira;
  font-size: medium;
  margin: 20px 50px;
  padding: 5px 0px;
}

.about-bottom-container {
  width: 75%;
  text-align: center;
  margin: 0 auto;
}
.about-project {
  text-align: left;
  width: 100%;
}

.about-techstack{
  width: 100%;
  margin: 0 auto;
}

.grid-container{
  margin: 0 auto;
}
.techgrid {
  margin: 5px 10px;
  h3 {
    height: 50px;
    text-align: center;
  }
}
.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none
}

.about-cv {
  text-align: right;
  width: 100%
}
.active {
  color: red;
   
}

.left-column {
  margin-left: 12%;
  width: 75%;
}

.right-column {
  margin-right: 10%;
  width: 75%;
}