.container-code {
  display: flex;
  .card-post {
    width: 100%;
  }
}
.code-column-projects {
  width: 75%;

}

.code-column-casestudy{
  width: 75%;

}

.row-code {
  width: 50%;
  h2 {
  text-align: center;
}
}